@import '../../styles/partials/mixins';

.header{
    height:fit-content;
    display:flex;
    background-color:#49b9f15b;
    padding:0.5em 1em;
    justify-content:space-between;

    @include tablet{
        padding:0.5em 2em;
    }

    @include desktop{
        padding:0.5em 6em;
    }

    &__logo{
        width:fit-content;
        height:fit-content;
        display:flex;
        justify-content:center;
        align-items:center;
    }

    &__img{
        object-fit:contain;
        max-width:25px;
        max-height:25px;

        @include tablet{
            max-width:90px;
            max-height:35px;
        }

        @include desktop{
            max-width:200px;
            max-height:45px;
        }
    }

    &__list{
        list-style:none;
        display:flex;
        justify-content:space-between;
        align-items:center;
        width:fit-content;
        gap:0.5em;
        padding:0;
    }

    &__home{
        text-decoration:none;
        font-size:10px;

        @include tablet{
            font-size:12px;
        }

        @include desktop{
            font-size:16px;
        }
    }

    &__about{
        text-decoration:none;
        font-size:10px;

        @include tablet{
            font-size:12px;
        }

        @include desktop{
            font-size:16px;
        }
    }

    &__auth{
        display:flex;
        justify-content:space-between;
        align-items:center;
        gap:0.4em;
    }

    &__signup{
        text-decoration:none;
        font-size:10px;
        border:none;

        @include tablet{
            font-size:12px;
        }

        @include desktop{
            font-size:16px;
        }
    }

    &__login{
        text-decoration:none;
        font-size:10px;
        border:none;

        @include tablet{
            font-size:12px;
        }

        @include desktop{
            font-size:16px;
        }
    }
}