@import '../../styles/partials/mixins';

.header{
    width:100%;
    height:fit-content;
    display:flex;
    background-color:#b8b8da;
    justify-content:center;
    padding-top:0.5rem;

    &__logo{
        width:fit-content;
        height:fit-content;
        display:flex;
        justify-content:center;
        align-items:center;
    }

    &__img{
        object-fit:contain;
        max-width:70%;
        max-height:100%;
    }

    &__list{
        list-style:none;
        display:flex;
        justify-content:space-between;
        align-items:center;
        width:fit-content;
        gap:2rem;
        padding:0;
    }

    &__home{
        text-decoration:none;
        font-size:20px;
    }

    &__about{
        text-decoration:none;
        font-size:20px;
    }

    &__auth{
        display:flex;
        justify-content:space-between;
        align-items:center;
        gap:1rem;
    }

    &__signup{
        text-decoration:none;
        border-radius:5px;
        font-size:20px;
        padding:0 5px;
        border:none;
    }

    &__login{
        text-decoration:none;
        font-size:20px;
        padding:0 5px;
        border-radius:5px;
        border:none;
    }
}