@import '../../styles/partials/mixins';

.footer{
    display:flex;
    justify-content:center;
    padding:1em 0;

    &__list{
        list-style:none;
        display:flex;
        justify-content:center;
        align-items:center;
        gap:2rem;
        padding:0 0 16px;
    }

    &__home,&__about{
        text-decoration:none;
        font-size:12px;

        @include tablet{
            font-size:14px;
        }

        @include desktop{
            font-size:16px;
        }
    }

    &__contact-text{
        font-size:8px;

        @include tablet{
            font-size:10px;
        }

        @include desktop{
            font-size:12px;
        }
    }
}